*

# Allow .gitignore itself
!.gitignore

!scripts/
!scripts/**

!enclosedTest/
!enclosedTest/**

!enclosedTestTiny/
!enclosedTestTiny/**

enclosedTest/__pycache__/
enclosedTest/dataset/
enclosedTest/runs/

enclosedTestTiny/__pycache__/
enclosedTestTiny/dataset/
enclosedTestTiny/runs/

# Allow weights folder with only best.pt, last.pt, and .gitkeep
!enclosedTest/runs/
!enclosedTest/runs/yolo_pollinators/
enclosedTest/runs/yolo_pollinators/*
!enclosedTest/runs/yolo_pollinators/weights/
enclosedTest/runs/yolo_pollinators/weights/*
!enclosedTest/runs/yolo_pollinators/weights/.gitkeep
!enclosedTest/runs/yolo_pollinators/weights/best.pt

!enclosedTestTiny/runs/
!enclosedTestTiny/runs/yolo_pollinators_tiny/
enclosedTestTiny/runs/yolo_pollinators_tiny/*
!enclosedTestTiny/runs/yolo_pollinators_tiny/weights/
enclosedTestTiny/runs/yolo_pollinators_tiny/weights/*
!enclosedTestTiny/runs/yolo_pollinators_tiny/weights/.gitkeep
!enclosedTestTiny/runs/yolo_pollinators_tiny/weights/best.pt

!detectAll/
!detectAll/**

detectAll/medium/__pycache__/
detectAll/medium/dataset/
detectAll/medium/runs/

detectAll/tiny/__pycache__/
detectAll/tiny/dataset/
detectAll/tiny/runs/

!detectAll/medium/runs/
!detectAll/medium/runs/yolo_detectall_medium/
detectAll/medium/runs/yolo_detectall_medium/*
!detectAll/medium/runs/yolo_detectall_medium/weights/
detectAll/medium/runs/yolo_detectall_medium/weights/*
!detectAll/medium/runs/yolo_detectall_medium/weights/.gitkeep
!detectAll/medium/runs/yolo_detectall_medium/weights/best.pt

!detectAll/tiny/runs/
!detectAll/tiny/runs/yolo_detectall_tiny/
detectAll/tiny/runs/yolo_detectall_tiny/*
!detectAll/tiny/runs/yolo_detectall_tiny/weights/
detectAll/tiny/runs/yolo_detectall_tiny/weights/*
!detectAll/tiny/runs/yolo_detectall_tiny/weights/.gitkeep
!detectAll/tiny/runs/yolo_detectall_tiny/weights/best.pt

!FinalSpeciesDetection/
!FinalSpeciesDetection/**

FinalSpeciesDetection/__pycache__/
FinalSpeciesDetection/dataset/
FinalSpeciesDetection/runs/

!FinalSpeciesDetection/runs/
!FinalSpeciesDetection/runs/yolo_species_cls/
FinalSpeciesDetection/runs/yolo_species_cls/*
!FinalSpeciesDetection/runs/yolo_species_cls/weights/
FinalSpeciesDetection/runs/yolo_species_cls/weights/*
!FinalSpeciesDetection/runs/yolo_species_cls/weights/.gitkeep
!FinalSpeciesDetection/runs/yolo_species_cls/weights/best.pt