*

# Allow .gitignore itself
!.gitignore

!scripts/
!scripts/**

!enclosedTest/
!enclosedTest/**

!enclosedTestTiny/
!enclosedTestTiny/**

enclosedTest/__pycache__/
enclosedTest/dataset/
enclosedTest/runs/

enclosedTestTiny/__pycache__/
enclosedTestTiny/dataset/
enclosedTestTiny/runs/

# Allow weights folder with only best.pt, last.pt, and .gitkeep
!enclosedTest/runs/
!enclosedTest/runs/yolo_pollinators/
enclosedTest/runs/yolo_pollinators/*
!enclosedTest/runs/yolo_pollinators/weights/
enclosedTest/runs/yolo_pollinators/weights/*
!enclosedTest/runs/yolo_pollinators/weights/.gitkeep
!enclosedTest/runs/yolo_pollinators/weights/best.pt
!enclosedTest/runs/yolo_pollinators/weights/last.pt

!enclosedTestTiny/runs/
!enclosedTestTiny/runs/yolo_pollinators_tiny/
enclosedTestTiny/runs/yolo_pollinators_tiny/*
!enclosedTestTiny/runs/yolo_pollinators_tiny/weights/
enclosedTestTiny/runs/yolo_pollinators_tiny/weights/*
!enclosedTestTiny/runs/yolo_pollinators_tiny/weights/.gitkeep
!enclosedTestTiny/runs/yolo_pollinators_tiny/weights/best.pt
!enclosedTestTiny/runs/yolo_pollinators_tiny/weights/last.pt